section{
    background-color: rgb(40, 40, 40);
    width: 1920;height: 1080
    ;
}

h1{
    color: rgb(242, 59, 13);
    font-size: medium;
    padding-top: 50px
    ;
    font-family: Arial, Helvetica, sans-serif;}
    